# BEGIN miniPops

# protect the htaccess file
<files .htaccess>
	order allow,deny
	deny from all
</files>

# Disable directory listing
Options -Indexes

# XSS Protection & iFrame Protection & Mime Security
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
</IfModule>

# Set default charset utf-8
AddDefaultCharset UTF-8

# Format audio 
AddType audio/ogg  .ogg
AddType audio/mp3  .mp3

<IfModule mod_rewrite.c>

	RewriteEngine on

	# HTTP trace method
	RewriteCond %{REQUEST_METHOD} ^TRACE
	RewriteRule .* - [F]

	# if you homepage is http://localhost/www/miniPOPS
	# RewriteBase /www/miniPOPS

	# block specify the cache
	RewriteCond %{REQUEST_METHOD} GET
	RewriteCond %{QUERY_STRING} !.*=.*
	RewriteCond %{HTTP:Cookie} !^.*(mpops_logged_in_|mpops-postpass_|comment_author_|comment_author_email_).*$
	RewriteCond %{HTTPS} off
	RewriteCond %{DOCUMENT_ROOT}/cache/%{HTTP_HOST}%{REQUEST_URI}/index.html -f
	RewriteRule ^(.*) cache/%{HTTP_HOST}%{REQUEST_URI}/index.html [L]

	# block specify files in the cache folder from being accessed directly
	RewriteRule ^content/(.*)\.(pl|php|php3|php4|php5|cgi|spl|scgi|fcgi|shtm|shtml|xhtm|xhtml|htm|xml|yml|yaml|md|mdown|gz)$ error [R=301,L]

	# block all files core folder from being accessed directly
	RewriteRule ^core/(.*) error [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*) index.php [L]

	# Update code bellow for SEO improvements
	# Redirect 301 /index http://localhost/www/miniPOPS/

</IfModule>

# END miniPops