# BEGIN miniPops

# protect the htaccess file
<files .htaccess>
order allow,deny
deny from all
</files>

# protect the config file
<files config.php>
order allow,deny
deny from all
</files>

# Set default charset utf-8
AddDefaultCharset UTF-8

# Format audio 
AddType audio/ogg  .ogg
AddType audio/mp3  .mp3

<IfModule mod_rewrite.c>
	RewriteEngine on

	# if you homepage is http://localhost/www/miniPOPS
	# RewriteBase /www/miniPOPS

	# block specify files in the content folder from being accessed directly
	RewriteRule ^content/(.*)\.(pl|php|php3|php4|php5|cgi|spl|scgi|fcgi|shtm|shtml|xhtm|xhtml|html|htm|xml|txt|md|mdown)$ error [R=301,L]

	# block all files core folder from being accessed directly
	RewriteRule ^core/(.*) error [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*) index.php [L]

	# Update code bellow for SEO improvements
	# Redirect 301 /index http://localhost/www/miniPOPS/

</IfModule>

# END miniPops