# BEGIN MiniPops 
# Set default charset utf-8
AddDefaultCharset UTF-8

# Format audio
AddType audio/ogg  .ogg
AddType audio/mp3  .mp3

<IfModule mod_rewrite.c>
RewriteEngine on

# if you homepage is http://minipops.local
# RewriteBase /

# block all files core folder from being accessed directly
RewriteRule ^core/(.*) error [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

# Update code bellow for SEO improvements
# Redirect 301 /index http://minipops.local/

</IfModule>
# END MiniPops

