# BEGIN MiniPops 


# MINIPOPS:[Rewrite url]
<IfModule mod_rewrite.c>
 RewriteEngine on

 # if you homepage is http://minipops.local
 # RewriteBase /

 # SECURITY:[FILES]
RewriteRule ^mp-content-e4efe608/(.*)\.(pl|php|php3|php4|php5|cgi|spl|scgi|fcgi|shtm|shtml|xhtm|xhtml|htm|xml|yml|yaml|md|mdown|gz|sass|scss)$ error [R=301,L]

 # SECURITY:[FILES-CORE]
 RewriteRule ^core/(.*) error [R=301,L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*) index.php [L]

 # Update code bellow for SEO improvements
 # Redirect 301 /index http://minipops.local/

</IfModule>
# END MiniPops

