// @author : DELETANG Stephen
// DEFAULT OPTIONS

// Durations
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .5s;

// Colors
$primaryColor: #e1e1e1;
$secondaryColor: #666;
$highlightColor: #ccc;
$activeColor: #2098D1;
$activeColorText: #fff;
$shadowColor: rgba(0, 0, 0, .6);

// Speech bubbles options
$tipWidth: 10px;  //the width of the speech bubble tip
$tipHeight: 10px; //the height of the speech bubble tip
$tipColor: $primaryColor;

// Arrows options
$spaceBetweenTextAndArrows: 2.2em;

// Curl dimensions
$curlWidth: 25px;
$curlHeight: 25px;

// Curl colors
$revealAreaColor: white;    // reveal area behind the curl
$curlLineColor: #aaa;       // crease line
$curlTransitionColor: #ccc;	// color transitioning from crease line to final color
$curlLastColor: white;		// final color of the back of the curl


// Pour tout les blocks

@mixin fade {
	@include hacks;
	transition-duration: $mediumDuration;
	transition-property: color, background-color;
	&:hover,
	&:focus,
	&:active {
		background-color: $activeColor;
		color: $activeColorText;
	}
}

@mixin rotate() {
	@include hacks;
	transition-duration: $mediumDuration;
	transition-property: transform;
	&:hover,
	&:focus,
	&:active {
		transform: rotate(4deg);
	}
}

// Pour tout les blocks sauf br, hr, img, input, select, textarea
@mixin sweep {
	@include hacks;
	position: relative;
	transition-property: color;
	transition-duration: $mediumDuration;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $activeColor;
		transform: scaleX(0);
		transform-origin: 100% 50%;
		transition-property: transform;
		transition-duration: $mediumDuration;
		transition-timing-function: ease-out;
	}
	&:hover,
	&:focus,
	&:active {
		color: white;

		&:before {
			transform: scaleX(1);
		}
	}
}