// @author : DELETANG Stephen
// Graphic form simple

// RECTANGLE
@mixin rectangle ( $width : 50px, $color : red , $ratio : 1 ) {
	background-color: $color;
	width : $width ;
	height: $width * $ratio;
}

// PARALLELOGRAM
@mixin parallelogram ( $width : 50px, $color : red , $ratio : 1 , $skew : 20deg ) {
	background-color: $color;
	width : $width ;
	height: $width * $ratio;
	@if $skew > 0 {
		transform: skew( $skew );
	}
}

// CIRCLE
@mixin circle ( $diameter : 50px, $color : red , $ratio : 1 ){
	background-color: $color;
	width: $diameter;
	height: $diameter * $ratio ;
	border-radius: 50%;
}

// PAC-MAN
@mixin pac-man ( $width : 50px , $color : red){
	width: 0px;
  	height: 0px;
	border-right: $width solid transparent;
  	border-top: $width solid $color;
  	border-left: $width solid $color;
  	border-bottom: $width solid $color;
	border-radius: $width $width $width $width;
}

// TRIANGLE
@mixin triangle ( $direction : 'left' , $color : red , $width: 50px , $ratio : 2 ){
	width: 0;
   height: 0;
	@if $direction == 'down' {
		border-left: $width/$ratio solid transparent;
   	    border-right: $width/$ratio solid transparent;
   	    border-top: $width solid $color;
	}
	@if $direction == 'up' {
		border-left: $width/$ratio solid transparent;
   	    border-right: $width/$ratio solid transparent;
   	    border-bottom: $width solid $color;
	}
	@if $direction == 'left' {
		border-top: $width/$ratio solid transparent;
   	    border-bottom: $width/$ratio solid transparent;
   	    border-right: $width solid $color;
	}
	@if $direction == 'right' {
		border-top: $width/$ratio solid transparent;
   	    border-bottom: $width/$ratio solid transparent;
   	    border-left: $width solid $color;
	}
}

// TRIANGLE RECTANGLE
@mixin triangle-rectangle ( $direction : 'top-left' , $color : red , $width: 50px , $ratio : 1 ){
	width: 0;
   height: 0;
	@if $direction == 'top-left' {
		border-top: $width*$ratio solid $color;
   	    border-right: $width solid transparent;
	}
	@if $direction == 'top-right' {
		border-top: $width*$ratio solid $color;
   	    border-left: $width solid transparent;
	}
	@if $direction == 'bottom-left' {
		border-bottom: $width*$ratio solid $color;
   	    border-right: $width solid transparent;
	}
	@if $direction == 'right' {
		border-bottom: $width*$ratio solid $color;
   	    border-left: $width solid transparent;
	}
}

// TRAPEZOID
@mixin trapezoid ( $width : 100px , $color : red , $ratio : 2 , $pente : 4 ){
	@include triangle ('up' , $color , $width/$ratio , $pente );
    width: $width;
}

// HEXAGON
@mixin hexagon ( $width : 100px , $color : red , $ratio : 0.6 ){
	width: $width; 
	height: $width*$ratio; 
	position: relative;
	background-color: $color ;
	&:before,
	&:after {
		content:"";
		position: absolute;
		left: 0;
		width: 0;
		height: 0;
	}
	&:before {
		top: -($width/4);
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;
		border-bottom: $width/4 solid $color;
	}
	&:after {
		bottom: -($width/4); 
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;
		border-top: $width/4 solid $color;
	}
}