/* ----------------------------- */
/* ==Minipops  reset             */
/* ----------------------------- */

/*
Author: Stephen Deletang
Contributors: Fabienne Deletang
Description: styles for minipops usage of KNACSS
*/

a {
    text-decoration: none;
}


// HEADER

.header{
    display: table;
    table-layout: fixed;
    width: 100% !important;
}

.header >*{
    display: table-cell;
    vertical-align: bottom;
}



// MENU

.main-navigation{
    text-align: right;
}

.menu-item{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 5px solid #fff;
}

.menu-item a:hover{
    color: $bravo-color-theme;
}

.menu .active{
    border-bottom: 5px solid $alpha-color-theme;
}

.menu .active a{
    color : $alpha-color-theme;
}

.menu-link{
    display: none;
}

@include media('<small-screen') {
    
    .header{
        padding-left: 5px;
    }
    
    .header-logo{
        display: none;
    }

}


// Gestion du menu burger
@include media('<medium-screen') {
            
    .main-navigation{
        width: 25% !important;
        position: relative;
        vertical-align: bottom;
    }
        
    .menu{
        display: block;
        opacity: 0;
        position: absolute;
        top:100%;
        right: 0; 
        padding: 2rem;
        width:0px;
        transition: all 1s;
        @include touch-scroll-x ( $alpha-color-theme );
    }
    
    .menu-item{
        display: inline;
        border: none;
    }
    
    .menu-item a, .menu .active a {
        color: #fff;
    }
    
    .menu .active{
        border: none;
    }
    
    .menu-link{
        display: inline-block;
        font-size: 3rem;
        transition: all 1s;
    }
    
    input[type=checkbox]:checked ~ .menu-link{
        outline: none ; -webkit-transform: rotate(90deg);
    }
    
    input[type=checkbox]:checked ~ .menu{
        width: 960px;
        opacity: 1;
    }
        

    
}



// FOOTER

.footer{
    background-color: $alpha-color-theme;
    color: #fff;
    padding:$small-value;
}



// Error 404

.error-header{
    background-color: $alpha-color-theme;
    padding:$small-value;
    width: 5%;
}

.error-aside{
    text-align: center;
    width: 16rem;
}

.error-title{
    font-family: Lato-light;
    font-size: 8rem;
}

.error-main{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.error-content{
    font-family: Lato-light;
}

.button-home{
    display: inline-block;
    background-color: $charly-color-theme;
    border-radius: 5px;
    color: #fff;
    font-family: Lato-light;
    padding-left: $medium-plus-value;
    padding-right: $medium-plus-value;
    padding-top: $small-value;
    padding-bottom: $small-value;
    margin: $medium-plus-value;
}

.button-home:hover{
    color: #fba441;
}

