/* ----------------------------- */
/* ==my fonts                    */
/* ----------------------------- */


/* On déclare les fonts */

@font-face{
    font-family: 'Oswald-bold';
    src: url('../fonts/oswald-bold.woff2?iefix') format('woff2'),
         url('../fonts/oswald-bold.woff') format('woff');           
}

@font-face{
    font-family: 'Lato-regular';
    src: url('../fonts/Lato-Regular.woff2?iefix') format('woff2'),
         url('../fonts/Lato-Regular.woff') format('woff');           
}

@font-face{
    font-family: 'Lato-bold';
    src: url('../fonts/Lato-Bold.woff2?iefix') format('woff2'),
         url('../fonts/Lato-Bold.woff') format('woff');           
}

@font-face{
    font-family: 'Lato-heavy';
    src: url('../fonts/Lato-Heavy.woff2?iefix') format('woff2'),
         url('../fonts/Lato-Heavy.woff') format('woff');           
}

@font-face{
    font-family: 'Lato-medium';
    src: url('../fonts/Lato-Medium.woff2?iefix') format('woff2'),
         url('../fonts/Lato-Medium.woff') format('woff');           
}

@font-face{
    font-family: 'Lato-light';
    src: url('../fonts/Lato-Light.woff2?iefix') format('woff2'),
         url('../fonts/Lato-Light.woff') format('woff');           
}




/* On charge Les fonts */


body {
    font-family: $font-common;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}


h1, .#{$kna-namespace}h1-like {
    font-family: $font-h1;
}

h2, .#{$kna-namespace}h2-like {
    font-family: $font-h2;
}

h3, .#{$kna-namespace}h3-like {
    font-family: $font-h3;
}

h4, .#{$kna-namespace}h4-like {
    font-family: $font-h4;
}

h5, .#{$kna-namespace}h5-like {
    font-family: $font-h5;
}

h6, .#{$kna-namespace}h6-like {
    font-family: $font-h6;
}
